@import '../../node_modules/react-dropzone-component/styles/filepicker.css';
@import '../../node_modules/dropzone/dist/min/dropzone.min.css';
@import '../../node_modules/materialize-css/dist/css/materialize.css';

html {
    display: flex;
}

body, #root {
    flex: 1;
    display: flex;
    min-height: 100vh;
}

main {
    padding-left: 32%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width : 992px) {
    main {
        padding-left: 0;
    }
}

.fa {
    background: transparent !important;
    margin: 0px !important;
}

.ellipsize {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* DropZone */

.filepicker {
    margin: 20px;
    flex: 1;
    position: relative;
}

.filepicker .dz-message {
    font-size: 3vw;
    color: #37474f;
    margin: auto;
    position: absolute;
    top: 50%;
    width: 100%;
}

/* SideNav */

.sidebar-header {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.sidebar-header .searchbar {
    width: 95%;
    transition: all 0.3s;
}

.sidebar-header .searchbar.focused {
    width: 100%;
}

.sidebar-header a.title {
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    color: black;
}

.sidebar-header a.title img {
    width: 100%;
    height: auto;
    padding: 20px 60px;
}

#slide-out {
    width: 32%;
    flex-direction: column;
    display: flex;
}

#slide-out .file-list {
    overflow: scroll;
    margin: 0 !important;
}

#slide-out a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.divider {
    margin: 0 !important;
}

a.button-collapse {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    margin: 15px;
    display: none;
    color: teal;
    z-index: 1;
}

@media only screen and (max-width : 992px) {
    #slide-out {
        width: 300px;
    }

    a.button-collapse {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

a.button-collapse i.fa::before {
    flex: 1;
}

/* Footer */

footer p {
    margin-top: 0;
    font-size: 1.2em;
}

/* Search */

.search {
    width: calc(100% - 20px) !important;
    padding: 5px 10px !important;
    margin: 0px !important;
    border: 0 !important;
}

.search:focus {
    border: 0 !important;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-icon {
    padding: 3px 15px;
    position: absolute;
    right: 0;
    background-color: white;
    cursor: pointer;
}

.search-icon:hover {
    color: #c48484;
}

.react-autosuggest__container {
    flex: 1 0 auto;
}

.react-autosuggest__suggestions-container {
    width: 100%;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    cursor: pointer;
}

.react-autosuggest__suggestions-list {
    margin: 0px;
}

.react-autosuggest__suggestion {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 10px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #eeeded;
}

.react-autosuggest__container .suggestion {
    font-weight: 600;
    color: #5C6BC0;
    width: 100%;
}
