html {
  line-height: inherit !important;
}

body {
  background-color: #282828;
  color: #FFFFFF;
}

form {
  margin: auto;
  width: 80%;
}

form p {
  margin-bottom: 0px;
}

button {
  background-color: transparent !important;
  box-shadow: none;
  border: none;
  padding-left: 3px !important;
}

button .material-icons {
  line-height: inherit;
}

button .btn {
  box-shadow: none;
  padding: 0 0.5rem;
  background-color: transparent;
}

button .btn, .btn-large {
  background-color: transparent;
}

button .btn:hover {
  box-shadow: none;
  padding: 0 0.5rem;
  background-color: transparent;
}

button #downloadbtn {
  opacity: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer #text {
  font-style: normal;
  font-weight: 300;
  color:#fff;
}

#main {
  margin-top: 0;
  padding-top: 0.5em;
}

#header {
  padding-bottom: 3em;
}

#header h3 {
  font-weight: 200;
}

#inputbox {
  margin-bottom: 0px;
  padding: 0px 0px 1em 0px;
  width: 50%;
  display:flex;
}

#inputbox input {
  border-bottom-color: #FFFFFF;
  color: #FFFFFF;
}

.text {
  display: inline-block;
  font-size : 1.2em;
}

.radio {
  display: inline-block;
  padding: 0.25em;
}

.radio label {
  color: white;
}

.row .col {
  padding: 0 0.4rem !important;
  margin-top: inherit !important;
  margin-bottom: 0 !important;
}

.radio [type="radio"]:checked+label:after {
  background-color: #FFFFFF !important;
}

.radio [type="radio"].with-gap:checked+label:before {
  border: 2px solid #fff;
}

.radio [type="radio"]:not(:checked)+label:before,
.radio [type="radio"]:not(:checked)+label:after {
  border: 2px solid #fff;
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"].with-gap:checked+label:before,
.radio [type="radio"].with-gap:checked+label:after {
  border: 2px solid #fff;
}

.radio [type="radio"]:not(:checked)+label,
.radio [type="radio"]:checked+label {
  padding-left: 1.85em;
}

#selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

