@import '../../../node_modules/react-dropzone-component/styles/filepicker.css';
@import '../../../node_modules/dropzone/dist/min/dropzone.min.css';
@import '../../../node_modules/materialize-css/dist/css/materialize.css';

html {
    display: flex;
}

body, #root {
    flex: 1;
    display: flex;
    min-height: 100vh;
}

main {
    padding-left: 450px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width : 992px) {
    main {
        padding-left: 0;
    }
}

.fa {
    background: transparent !important;
    margin: 0px !important;
}

/* DropZone */

.filepicker {
    margin: 20px;
    flex: 1;
    position: relative;
}

.filepicker .dz-message {
    font-size: 3vw;
    color: #37474f;
    margin: auto;
    position: absolute;
    top: 50%;
    width: 100%;
}

/* SideNav */

#slide-out {
    width: 450px;
}

#slide-out a.title {
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
}

#slide-out a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#slide-out :nth-child(1) a:hover {
    background-color: white !important;
}

.divider {
    margin: 0 !important;
}

a.button-collapse {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    margin: 5px;
    display: none;
    color: teal;
}

@media only screen and (max-width : 992px) {
    #slide-out {
        width: 300px;
    }

    a.button-collapse {
        display: block !important;
    }
}

a.button-collapse {
    z-index: 1;
}

a.button-collapse i.fa::before {
    margin-left: 18px;
    position: fixed;
}

/* Footer */

footer p {
    margin-top: 0;
    font-size: 1.2em;
}
